[submodule "mfaruqui"]
	path = mfaruqui
	url = https://github.com/mfaruqui/sp2016.11-731.git
[submodule "armatthews"]
	path = armatthews
	url = https://github.com/armatthews/sp2016.11-731
[submodule "dbc148"]
	path = dbc148
	url = https://github.com/dbc148/sp2016.11-731
[submodule "qilans"]
	path = qilans
	url = https://github.com/qinlans/sp2016.11-731
[submodule "adhigunasurya"]
	path = adhigunasurya
	url = https://github.com/adhigunasurya/sp2016.11-731
[submodule "michaelalanmiller"]
	path = michaelalanmiller
	url = https://github.com/michaelalanmiller/sp2016.11-731
[submodule "xlhdh"]
	path = xlhdh
	url = https://github.com/xlhdh/sp2016.11-731
[submodule "elliotschu"]
	path = elliotschu
	url = https://github.com/elliotschu/sp2016.11-731
[submodule "emilytag"]
	path = emilytag
	url = https://github.com/emilytag/sp2016.11-731
[submodule "rooa"]
	path = rooa
	url = https://github.com/rooa/sp2016.11-731
[submodule "MaximumEntropy"]
	path = MaximumEntropy
	url = https://github.com/MaximumEntropy/sp2016.11-731
[submodule "akashb-cmu"]
	path = akashb-cmu
	url = https://github.com/akashb-cmu/sp2016.11-731.git
[submodule "ZhitingHu"]
	path = ZhitingHu
	url = https://github.com/ZhitingHu/sp2016.11-731
